<!DOCTYPE html>
<html>
	<head>
		<title>Filters - ngFilter</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-app="app" ng-controller="TestCtrl as test">
		<p>Search by both name and hometown: <input type="text" ng-model="searchBoth" /></p>
		<p ng-repeat="person in test.people | filter: searchBoth">
			{{ person | json }}
		</p>

		<p>Search by name: <input type="text" ng-model="searchName.name" /></p>
		<p ng-repeat="person in test.people | filter: searchName">
			{{ person | json }}
		</p>

		<p>Search by hometown: <input type="text" ng-model="searchBorn.born" /></p>
		<p ng-repeat="person in test.people | filter: searchBorn">
			{{ person | json }}
		</p>
	</body>
</html>