<html>
    <head>
        <title>ng-hide/ng-show css animations</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="site.css">
    </head>
    <body ng-app="app" ng-controller="TestCtrl as test">
        <button ng-click="test.showBoxOne = !test.showBoxOne">Toggle Box One</button>
        <div class="box-one" ng-show="test.showBoxOne">
            Hello! I am <b>box one</b>.
        </div>
        <!-- ng-repeat animations -->
        <button ng-click="test.people.push({name:'Steve Jobs'})">Add item to ng-repeat</button>
        <button ng-click="test.people.pop()">Remove item from ng-repeat</button>
        <div class="item" ng-repeat="person in test.people">
            {{ person.name }}
        </div>
        <!-- ng-class animations -->
        <button ng-click="test.bigger = !test.bigger">Set bigger = {{ !test.bigger }}</button>
        <button ng-click="test.lightTheme = !test.lightTheme">Set lightTheme = {{ !test.lightTheme }}</button>
        <div class="box" ng-class="{ 'bigger': test.bigger, 'light-theme': test.lightTheme }">
            This is just a box.
        </div>
    </body>
</html>